

.firma>div {
    margin-top: 10px;
    border: 10px solid black;
    background-color: gold;
    height: 10px;
}

html {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.container_inicial {
    border: 10px solid black;
}

.container_barra {
    border-bottom: 5px solid black;
    display: flex;

}

.container_barra>div {
    background-color: red;
    height: 10px;
    
}

.container_texto>div {
    border: 10px solid orange;
    flex: 1;
    background-color: yellow;
    height: 10px;
}

.seccionArticulos {
    margin-top: 10px;
}

.articulos>div {
    margin: 10px;
    height: 10px;
}

.articulos>div:nth-child(1), .articulos>div:nth-child(2), .articulos>div:nth-child(3), .articulos>div:nth-child(4) {
    background-color: blue;
}

.Special {
    background-color: cyan;
}

@media screen and (min-width:769px) {
    html {
        max-width: 1200px;
    }
    .container_inicial>div {
        display: flex;
    }
    .container_barra>div {
        border: 10px solid grey;
    }
    .container_barra>div:nth-child(1) {
        flex: 15%;
    }
    .container_barra>div:nth-child(2) {
        flex: 70%;
    }
    .container_barra>div:nth-child(3) {
        flex: 15%;
    }
    .seccionArticulos {
        display: flex;
        border: 10PX solid black;
    }
    .articulos {
        flex: 85%;
        background-color: gray;
        border-right: 10PX solid black;
        display: grid;
    }
    .Special {
        grid-column: 1/3;
    }
    .anuncio {
        background-color: red;
        flex: 30%;

    }
    .anuncioTexto>div {
     border: 10px solid red;
        background-color: gold;
        height: 10px;
    }
}

/*tablet*/

@media screen and (min-width:415px) and (max-width:768px) {
    .container_inicial>div {
        display: flex;
    }
    .container_barra>div {
        border: 10px solid grey;
    }
    .container_barra>div:nth-child(1) {
        flex: 15%;
    }
    .container_barra>div:nth-child(2) {
        flex: 70%;
    }
    .container_barra>div:nth-child(3) {
        flex: 15%;
    }
    .seccionArticulos {
        border: 10PX solid yellow;
    }
    .seccionArticulos>div {
        display: grid;
    }
    .articulos {
        background-color: gray;
        border-bottom: 10PX solid yellow;
    }
    .Special {
        grid-column: 1/3;
    }
    .anuncioTexto>div:nth-child(2) {
        background-color: gold;
        height: 10px;
    }
    .anuncioTexto>div:nth-child(1) {
        border-bottom: 5px solid red;
        background-color: gold;
        height: 10px;
    }
    .anuncio {
        border: 10px solid red;
    }
}

/*movil*/

@media screen and (max-width: 414px) {
    .container_inicial {
        display: grid;
    }
    .container_barra {
    display:grid;
        background-color: rgb(18, 18, 139);
    }
    .container_barra>div {
        margin: 10px;
    }
    .seccionArticulos {
        display: grid;
        border: 10PX solid gold;
    }
    .articulos {
        background-color: blue;
        border-bottom: 10PX solid gold;
    }
    .articulos>div:nth-child(1), .articulos>div:nth-child(2), .articulos>div:nth-child(3), .articulos>div:nth-child(4) {
        background-color: cornflowerblue;
    }
    .anuncioTexto>div:nth-child(2) {
        background-color: gold;
        height: 10px;
    }
    .anuncioTexto>div:nth-child(1) {
        border-bottom: 5px solid red;
        background-color: gold;
        height: 10px;
    }
    .anuncio {
        border: 10px solid red;
    }
}