.bloque3>div {
    margin-top: 10px;
    border: 10px solid black;
    background-color: gold;
    height: 10px;
}

html {
    padding: 10px;
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
}

.bloque1 {
    border: 10px solid black;
    display: grid;
}

.firstline {
    border-bottom: 10px solid black;
    background-color: rgb(18, 18, 139);
}

.firstline>div {
    background-color: red;
    height: 10px;
    margin: 10px;
}

.secondline>div {
    border: 10px solid orange;
    flex: 1;
    background-color: yellow;
    height: 10px;
}

.bloque2 {
    display: grid;
    margin-top: 10px;
    border: 10PX solid gold;
}

.treeline {
    background-color: blue;
    border-bottom: 10PX solid gold;
}

.treeline>div {
    margin: 10px;
    height: 10px;
}

.treeline>div:nth-child(1), .treeline>div:nth-child(2), .treeline>div:nth-child(3), .treeline>div:nth-child(4) {
    background-color: cornflowerblue;
}

.Special {
    background-color: cyan;
}

.box>div:nth-child(2) {
    background-color: gold;
    height: 10px;
}

.box>div:nth-child(1) {
    border-bottom: 5px solid red;
    background-color: gold;
    height: 10px;
}

.box {
    border: 10px solid red;
}

